<!DOCTYPE html>
<html>
<head>
	<title>Wright 'ight Update</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="css/form_style.css">
</head>
<body>
  <div class="pure-g centered-group">
    <div class="pure-u">
      <form class="pure-form pure-form-aligned" method="post">
        <fieldset>
          <div class="pure-control-group" id="updateWC">
            <label for="wc_book">Date</label>
            <input type="text" class="form-control" id="wc_book" name="wc_book" value="{{previous.book}}">
          </div>
          <div class="pure-control-group">
            <label for="wc_date">Date</label>
            <input type="date" class="form-control" id="wc_date" name="wc_date" value="{{today}}">
          </div>
          <div class="pure-control-group">
            <label for="wc_count">Total Word Count</label>
            <input type="number" class="form-control" id="wc_count" name="wc_count" value="{{previous.count}}">
          </div>
          <div class="pure-control-group">
            <label for="wc_hours">Hours</label>
            <input type="number" class="form-control" id="wc_hours" name="wc_hours" placeholder="0">
          </div>
          <div class="pure-control-group">
            <label for="wc_writer">Writing</label>
            <input type="radio" id-"wc_writer" name="wc_role" value="wc_writer">
            <label for="wc_editor">Editing</label>
            <input type="radio" id="wc_editor" name="wc_role" value="wc_editor">
            <label for="wc_planner">Planning</label>
            <input type="radio" if="wc_planner" name="wc_role" value="wc_planner">
          </div>
          <div class="pure-control-group">
            <center><button class="btn btn-default" type="submit">Submit</button></center>
          </div>
        </fieldset>
      </form>
    </div>
	</div>
</body>
</html>
