<!DOCTYPE html>
<html>
<head>
	<title>Wright 'ight Update</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body>
  <br><br>
  <div class="container">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="form-control" id="username" name="username" value="{{previous.username}}" required>
          <label class="active" for="username">Username</label>
        </div>
        <div class="input-field col s6">
          <input type="password" class="form-control" id="passwrd" name="passwrd" required>
          <label class="active" for="passwrd">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="form-control" id="wc_book" name="wc_book" value="{{previous.wc_book}}" required>
          <label class="active" for="wc_book">Book Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="date" class="form-control" id="wc_date" name="wc_date" value="{{today}}" required>
          <label class="active" for="wc_date">Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="number" class="form-control" id="wc_count" name="wc_count" value="{{previous.wc_count}}" required>
          <label class="active" for="wc_count">Current Word Count</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="number" class="form-control" id="wc_total" name="wc_total" value="{{previous.wc_total}}" required>
          <label class="active" for="wc_total">Estimated Total Word Count</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="number" class="form-control" id="wc_hours" name="wc_hours" placeholder="0" required>
          <label class="active" for="wc_hours">Hours</label>
        </div>
      </div>
      <div class="row">
	<div>
        <input type="radio" id="wc_writer" name="wc_role" value="wc_writer" checked>
        <label for="wc_writer">Writing</label>
	</div>
	<div>
        <input type="radio" id="wc_editor" name="wc_role" value="wc_editor">
        <label for="wc_editor">Editing</label>
	</div>
	<div>
        <input type="radio" id="wc_planner" name="wc_role" value="wc_planner">
        <label for="wc_planner">Planning</label>
	</div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button class="btn-large waves-effect waves-light" type="submit">Submit</button>
        </div>
      </div>
    </form>
	</div>
</body>
</html>
